<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta http-equiv="refresh" content="1">
    </head>
    <body>
        <h1>Worker Log</h1>
        <pre id='worker_log' style='font-size: 20px'></pre>
        {% for i in value %}
            {{ i }}
        {% endfor %}
        <script>
            setInterval(function(){$.ajax({
                url: '/log',
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error)
                }
            })}, 1000);
        </script>
    </body>
</html>
